.MainContainer {
  padding: 2em 2em 0 2em;
}

.Header {
  text-align: center;
  font-family: var(--headerFont);
  letter-spacing: 0.5px;
  color: var(--textColor);
}

.SubHeader {
  text-align: center;
  line-height: 1.6;
  /* font-size: 18px; */
  color: var(--textColor);
}

.MainDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.CardDiv {
  margin: 40px 20px;
}

.CardImage {
  width: 300px;
  height: 300px;
}

.CardTextDiv {
  margin-top: 20px;
  line-height: 2;
  color: var(--textColor);
}

/* .CardHeader {
  font-family: var(--headerFont);
  letter-spacing: 0.5px;
} */

.CardText {
  width: 300px;
  line-height: 1.5;
}

.ReadBtnLink {
  text-decoration: none;
}

/* .ReadBtn {
  color: #333366;
  border-color: #333366;
}

.ReadBtn:hover {
  color: #333366;
  border-color: #333366;
} */
