.HeaderContainer {
  padding: 2em 2em 0 2em;
}

.MainHeader {
  text-align: center;
  font-family: var(--headerFont);
  letter-spacing: 0.5px;
}

.SubHeader {
  text-align: center;
  line-height: 1.6;
}

.MainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.CardDiv {
  margin: 40px 30px;
}

.CardContentDiv {
  padding-bottom: 8px !important;
}

.CardImage {
  width: 300px;
  height: 300px;
}

.CardHeader {
  padding-top: 15px;
  width: 300px;
  color: var(--textColor);
  font-family: var(--headerFont);
}

.BioSpan {
  font-family: var(--headerFont);
  font-weight: 700;
}

.AccordionDiv {
  line-height: 1.5;
}

.AccordionDetailsDiv {
  line-height: 2;
}

.AccordionDetailsText {
  width: 300px;
  line-height: 2;
  color: var(--textColor);
}

.ListenBtn {
  color: var(--secondaryColor) !important;
  border-color: var(--secondaryColor) !important;
}

.ListenBtn:hover {
  color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}
