.TitleLink {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.02857em;
}

.Link {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 6px 8px;
}
