.TitleLink {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.02857em;
}

/* .Link {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 6px 8px;
} */

.NavLink {
  font-family: var(--headerFont);
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.02857em;
}

.NavLinkText:hover {
  border-top: 2px solid white;
  padding-top: 4px;
}

.Home {
  padding: 6px 13px;
}

.Blog {
  padding: 6px 13px;
}

.Resources {
  padding: 6px 8px;
}

.PanelList {
  text-align: center;
}

.PanelLink {
  text-decoration: none;
  color: #1a2027;
}
