.MainContainer {
  padding: 2em 2em 0 2em;
  color: var(--textColor);
}

.NothingHereImageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
}

.NothingHereImage {
  width: 100vmin;
}

.Header {
  text-align: center;
  font-family: var(--headerFont);
  letter-spacing: 0.5px;
}

.SubHeader {
  text-align: center;
  line-height: 1.6;
  /* font-size: 18px; */
}

.MainDiv {
  margin: 60px 40px 40px 40px;
}

.Link {
  text-decoration: none;
  color: var(--secondaryColor);
}

.Link:active {
  color: var(--primaryColor);
}
