/* GLOBAL VARIABLES */

:root {
  --primaryColor: #ff7900;
  --secondaryColor: #1976d2;
  --headerFont: 'Roboto', sans-serif;
  --paragraphFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --textColor: #1a2027;
}

/* Styles for Sticky (But Not Fixed) Footer */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}
/* End Styles for Sticky Footer */

body {
  font-family: var(--paragraphFont);
  color: var(--textColor);
  background-color: #f4f4f4;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
