/* GLOBAL VARIABLES */

:root {
  --primaryDark: steelblue;
  /* --secondaryDark: #834d2a; */
  --alpha: 0.4;
  /* --primaryFontFamily: 'Karla', sans-serif; */
  /* --mainTextColor: #111111; */
}

/* Styles for Sticky (But Not Fixed) Footer */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}
/* End Styles for Sticky Footer */

body {
  background-color: #f4f4f4;
  /* Need for footer: */
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
